i:hover{
  color: orange;
}
@font-face {
  font-family:'Roboto';
  src: url('../public/lang/RobotoCondensed-Bold.ttf');
}
@font-face {
  font-family:'Barlow';
  src: url('../public/lang/BarlowCondensed-Italic.ttf');
}