.showForm{
    animation:showForm 1s forwards ;
}
@keyframes showForm{
    from{transform: translate(-50%,-100%);}
    to{transform: translate(-50%,0);}
}
.hideForm{
    animation:hideForm 1s forwards ;
}
@keyframes hideForm{
    from{transform: translate(-50%,0%);}
    to{transform: translate(-50%,-1000%);}
}
.search {
    border: 1px solid tomato;
  }
  .search:focus {
    outline: none;
    border: 1px solid tomato;
  }
  .category {
    border: 1px solid tomato;
    border-left: 0;
  }
  .category:focus {
    outline: none;
    border: 1px solid tomato;
    border-left: 0;
  }