.showForm{
    animation:showForm 1s forwards ;
}
@keyframes showForm{
    from{transform: translate(-50%,-100%);}
    to{transform: translate(-50%,0);}
}
.hideForm{
    animation:hideForm 1s forwards ;
}
@keyframes hideForm{
    from{transform: translate(-50%,0%);}
    to{transform: translate(-50%,-1000%);}
}